<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form>
            이름 : <input type = "text" name="ntitle">
            주소 : <input type = "text" name="naddress">
            학교 : <input type = "text" name="nacademy">
            학과 : <input type = "text" name="nmajor">
            <button type="button" onclick="board_update()"> 수정 </button>
            <button type="button" onclick="board_update()"> 삭제 </button>
        </form>
    </div>

    <script src="/js/board/view.js"></script>
</body>
</html>